<% if (title) { %>
<h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/'); } %>

<!-- Display message in case of error -->

<% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>

<div class="edit-vehicle-form_container">
  <p>All Fields are required</p>
  <form
    class="classification-form"
    id="editVehicle"
    action="/inv/update"
    method="post"
  >
    <div class="class_form-input"><%-classificationSelect-%></div>
    <div class="class_form-input">
      <label for="invMake">Make</label>
      <input
        type="text"
        name="inv_make"
        id="invMake"
        pattern="[a-zA-Z]+"
        required
        value="<%= locals.inv_make%>"
      />
    </div>
    <div class="class_form-input">
      <label for="invModel">Model</label>
      <input
        type="text"
        name="inv_model"
        id="invModel"
        pattern="[a-zA-Z]+"
        required
        value="<%= locals.inv_model%>"
      />
    </div>
    <div class="class_form-input">
      <label for="invDescription">Description</label>
      <textarea name="inv_description" id="invDescription" required>
   <%=locals.inv_description%> </textarea
      >
    </div>
    <div class="class_form-input">
      <label for="invImage">Image Path</label>
      <input
        type="text"
        name="inv_image"
        id="invImage"
        required
        value="<%= locals.inv_image %>"
        placeholder="/images/vehicles/image.png"
      />
    </div>
    <div class="class_form-input">
      <label for="invThumbnail">Thumbnail Path</label>
      <input
        type="text"
        name="inv_thumbnail"
        id="invThumbnail"
        placeholder="/images/vehicles/image.png"
        value="<%= locals.inv_thumbnail %>"
        required
      />
    </div>
    <div class="class_form-input">
      <label for="invPrice">Price</label>
      <input
        type="text"
        name="inv_price"
        id="invPrice"
        required
        value="<%= locals.inv_price %>"
      />
    </div>
    <div class="class_form-input">
      <label for="invYear">Year</label>
      <input
        type="text"
        name="inv_year"
        id="invYear"
        placeholder="year should be 4 digits"
        required
        pattern="\d{4}"
        value="<%= locals.inv_year %>"
      />
    </div>
    <div class="class_form-input">
      <label for="invMiles">Miles</label>
      <input
        type="text"
        name="inv_miles"
        id="invMiles"
        required
        value="<%= locals.inv_miles %>"
      />
    </div>
    <div class="class_form-input">
      <label for="invColor">Color</label>
      <input
        type="text"
        name="inv_color"
        id="invColor"
        required
        value="<%= locals.inv_color %>"
      />
    </div>

    <button type="submit">Update Vehicle</button>
    <input
      type="hidden"
      name="inv_id"
      value="<% if(locals.inv_id) {%>
    <%=locals.inv_id %>
    <% } %>"
    />
  </form>
</div>

<div class="go-back"><a href="/inv/">Go Back</a></div>
